#header-left-side {
  width:21%;
  display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
      font-size: 11pt;
      vertical-align: top;
      line-height: 1;
      margin:5px;
}

#header-left-side  a {
  color: #FFFFFF;
  text-decoration: underline;
}

#header-center a {
  width:58%;
  display: inline-block;
  text-align: center;
  font-size: 40pt;
    color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1;
        color:white;
        text-decoration: none;

}

#footer {
    text-align: center;
  }

  #footerspan a {
    display: inline-block;
    position: relative;    
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #3E4655;
  }



#header {
    margin: 0;
    padding: 0;

    height: 139px;
    background-color: #202645;
  }
#header-wrap, #wrap{
  margin: 0 auto;
  padding: 0;
  width: 790px;
}



/*//////////////*/

#user-review-link a {
  font-size: 9pt;
  color: grey !important;
  text-decoration: none;
  font-variant: none;
}

#add-user-review {
  position:relative;
  width:525px;
  margin:0 auto;

}

#user-reviews {
  position:relative;
  width:525px;
  margin:0 auto;

}


#reviews {
  position:relative;
  width:525px;
  margin: 0 auto;

  
}

#genericmid {
  position:relative;
  width:525px;
  margin:0 auto;
  
}

#myextra {
  width:200px;
}

#userreviewform {
  position:relative;
  width:740px;
  margin:0 auto;
  
}

#review {
vertical-align:top;
display: block;
  height:240px;
  
}

#posterimage {

}

#rightside {
    display: inline-block;
    vertical-align:top;
    width:367px;
    padding-left:8px;
}

#poster {
display: inline;
vertical-align:top;
width: 150px;
}

#title {
  vertical-align:top;
  display: block;


  font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #3E4655;
    font-variant: small-caps;
}

#reviewtext {

  vertical-align:top;
  display: inline;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #3E4655;
}

#reviewtext a {


    color: #3E4655;
}


#score {
position:absolute;
    top:0px;
    left:260px;
}



/*//////////////*/
a {
  color:white
}

    .auto-style-title {
    text-align: center;
    font-family: "Gill Sans";
    font-size: 40pt;
    color: #FFFFFF;
  }
  

      .auto-style-content {
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #3E4655;
    text-align: center;
  }
  
    .auto-style-filmtitle {
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #3E4655;
  font-variant: small-caps;
}


      .auto-style-sortby {
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin-top: 0;
  }
    .auto-style1 {
    font-size: 11pt;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #FFFFFF;
    text-align: right;
  }


      .auto-style-o {
    color: #202645;
  }
  
  .alignleft {
  float: left;
}
.alignright {
  float: right;
}


.col-margin-bottom-1 {
  margin-bottom: 1em;
}

a {
  cursor: pointer;
  color: white;
}

.navbar.main {
  background: #5f6d7f;
  color: white;
}

.navbar.main .list.nav-link {
  background: #01bf86;
}

.navbar.main a {
  color: white;
}

.navbar ul {
  list-style: none;
}

.side-bar.col-sm-2 {
  margin-left: 1em;
  border-right: 1px solid #5f6d7f;
}

#product-list.row {
  margin-left: 0;
}

#product-list .row,
#product-finalize-list {
  margin-top: 2em;
}

.row h2,
.categories a,
#categories a {
  color: #5f6d7f;
}

#product-list a,
#product-reveal-list a,
#product-list .row > div {
  color: #01bf86;
}



.container-fluid .row {
  margin-left: 0px;
}

#product-list img,
#product-reveal-list img,
#product-finalize-list img {
  width: 150px;
  height: 150px;
}

.container-fluid .title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
}

#product-list .details,
.container-fluid .title,
#product-finalize-list a {
  color: #5f6d7f;
}

.product .details {
  text-decoration: underline;
}

.time {
  font-style: italic;
}

#product-finalize-list .row > div{
  color: #e76e6e;
}

#product-details-page {
  color: #5f6d7f;
  background-color: #e9ebef;
}

#product-details-page h4 {
  margin-top: 0px;
  font-size: 20px;
}

#product-details-page h4.align {
  margin-left: 15px;
  font-style: italic;
}

#product-details-page #product-price {
  color: #01bf86;
}

#product-details-page .bid-details,
#product-details-page #product-desc {
  padding: 2em;
}

#product-details-page #product-image {
  padding: 2em 1em;
  /*border: 1px solid #b2bcc8;*/
  border-radius: 10px;
  background-color: white;
}

#product-details-page h1 {
  color: #5f6d7f;
}

body {
      display: block;
    margin: 8px;
}

#product-details-page h2.product-name {
  color: #01bf86;
  margin-top: 0;
  margin-bottom: 1em
  /*font-size: 1.5em;*/
}

#product-details-page #product-auction-end {
  color: #e76e6e;
  font-style: italic;
  font-size: 17px;
}

#product-details-page #product-reveal {
  margin-top: 3em;
}

#product-details-page button.form-submit {
  background-color: #01bf86;
  color: white;
}

#product-details-page #product-desc {
  padding: 2em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


